.parameter-item {
  background-color: whitesmoke;
  color : #83317e;
  padding-top: 0.7%;
  padding-bottom: 5%;
  padding-left: 5%;
  padding-right: 5%;
  border-radius: 25px;
  text-align: left;

  .email-item {
    border-bottom: 1px solid gray;
    padding: 1%;
    margin: 0.2%;
    font-size: 0.5em;
    width: 35em;
    display: flex;

    .switch-title {
      flex: auto;
      position: relative;
      text-align: right;
    }

    .email-title {
      padding-bottom: 1em;
      flex: auto;
      position: relative;
    }

    .switch-item {
      flex: auto;
      position: relative;
      margin-right: 5em;
      text-align: right;
    }

    .label-affichage-mail {
      font-size: 1.2em;
    }
  }
}
