.parameter-item{
  background-color: whitesmoke;
  color : #83317e;
  padding-top: 0.7%;
  padding-bottom: 5%;
  padding-left: 5%;
  padding-right: 5%;
  border-radius: 25px;
  text-align: left;

  .email-item{
    border-bottom: 1px solid gray;
    padding: 1%;
    margin: 0.2%;
    font-size: 0.5em;
    width: 30em;

    .label-affichage-mail{
      font-size: 1.2em;
    }
  }
}