@font-face {
    font-family: "bebas_neue";
    src: url("../../font/bebas_neue/BebasNeue-Regular.ttf") format("truetype"),
    url("../../font/bebas_neue/BebasNeue-Regular.ttf") format("truetype");
}

.admin{
    background: linear-gradient(#83317e, #e72284);
}

.parameter-item{
    background-color: whitesmoke;
    color : #83317e;
    padding-top: 0.7%;
    padding-bottom: 5%;
    padding-left: 5%;
    padding-right: 5%;
    border-radius: 25px;
}

.email-item-card{
    border : 1px solid gray;
    padding : 1%;
    margin: 0.2%;
    border-radius : 25px;
    font-size: 0.5em;
}

.button {
    background-color: white;
    color: #e72284;
    font-size: 0.7em;
    position: relative;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #e72284;
    margin-right: 10px;
  }