#page-wrap {
  z-index: 1;
  position: relative;
  display: flex;
  justify-content: space-evenly;
}

@media screen and (max-width: 551px) {
  #page-wrap {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin: auto;
  }

  #page-wrap .container-white {
    margin: 0 0 15px 0;
    border-radius: 0;
  }

  #page-wrap .chips {
    padding-top: 0;
  }
}

.fa-times-cross{
  font-size: 1em;
  margin-right: 0;
}

.bm-item-class {
  display: inline-block;
  /* Our sidebar item styling */
  font-size: 90%;
  width: 100%;
  text-align: center;
  text-decoration: none;
  font-family: Roboto;
  color: white;
  transition: color 0.2s;
  outline: none;
  user-select: none;
  padding: 0.8em;
}

.bm-item-fin {
  display: inline-block;
  font-size: 90%;
  text-decoration: none;
  color: white;
  transition: color 0.2s;
  outline: none;
  user-select: none;
}

.menu-item {
  /*padding-right: 1em;*/
  //padding-left: 1em;
}


.bm-menu .bm-item-list {
  color: #b8b7ad;
  width: 260px;
  margin-top: 0;
}

.bm-menu {
  background: #7b7b7b;
  padding: 2.5em 1.5em 0;
  text-align: left;
  /*background: #492416;*/
  /*padding-left: 1em;*/
  font-size: 1.15em;
}

.my-menu {
  height: 100%;
  box-sizing: border-box;
  overflow: auto;
  background: #ea80fc;
}

.my-menu-bleu {
  height: 100%;
  box-sizing: border-box;
  overflow: auto;
  background: #64b5f6;
}

.bm-item-list > label.bm-item.label {
  font-size: 1em;
}

.bm-item-list > .bm-item.h1 {
  font-size: 1em;
  text-align: center;
  padding: 1em 1em 10px 1em;
  margin-bottom: 0;
  font-weight: 600;
}

.bm-burger-button {
  position: fixed;
  width: 2.25em;
  height: 1.88em;
  left: 1em;
  top: 1.5em;
}

.burger-button > button {
  outline: none;
}

//.my-menu.bm-menu span {
//  padding: 0 0.8em 0.8em;
//}

.container-white {
  background: rgba(0, 0, 0, 0);
  font-family: MinecraftiaRegular, sans-serif;
  border-radius: 8px;
  padding: 0.31em 0.937em;
  text-align: center;
  position: relative;
  color: white;
  /*box-shadow: 0 0 30px 0 rgba(67, 67, 67, 0.6);*/
  margin-bottom: 15px;
}

.capitalize {
  text-transform: capitalize;
}

div.param-block {
  position: absolute;
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
  width: 90%;
  //background-color: rgba(0, 0, 0, 0.07);
  text-align: left;
  bottom: 0;
  //padding: 5%;
}

.deconnexion {
  color: white;
}

.fas, .fab {
  margin-right: 0.5em;
}