.AddRowButton{
    background-color: whitesmoke;
    border-radius: 20px;
    border: 3px solid #83317e;
    padding: 0.7%;
    margin: 10px;
    color: #83317e;
    font-weight: 700;
    //background: url(../assets/add.png) no-repeat;
}

.AddRowButton-bleu{
    background-color: whitesmoke;
    border-radius: 20px;
    border: 3px solid #353483;
    padding: 0.7%;
    margin: 10px;
    color: #353483;
    font-weight: 700;
    //background: url(../assets/add.png) no-repeat;
}