@font-face {
  font-family: "bebas_neue";
  src: url("font/bebas_neue/BebasNeue-Regular.ttf") format("truetype"),
  url("font/bebas_neue/BebasNeue-Regular.ttf") format("truetype");
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header-bleu {
  background: linear-gradient(#232883, #177ce7);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);

  .title {
    color: white;
    font-family: bebas_neue;
    margin-top: 2em;
    margin-left: 1em;
    font-size: 5em;

    .oval {
      padding-top: 0.5em;
      padding-bottom: 0.5em;
      width: 200px;
      height: 100px;
      border: 2px solid white;
      color: #353483;
      background: white;
      border-radius: 50%
    }
  }

  .bouton-accueil {
    position: relative;
    margin-top: 13em;
    margin-left: 40em;
    height: 120px;

    .image {
       height: 200px;
    }
  }

  @media screen and (max-width: 800px) {
    .title {
      color: white;
      font-family: bebas_neue;
      margin-top: 2em;
      margin-left: 0;
      font-size: 4em;
    }

    .bouton-accueil {
      position: relative;
      margin-top: 15em;
      margin-left: 7em;

      .image {
        height: 150px;
      }
    }
  }
}

.App-link {
  color: #09d3ac;
}

.Moodboard-table {
  border : 2px solid whitesmoke;
  border-collapse: collapse;
  color: whitesmoke;
  th{
    border : 2px solid whitesmoke;
  }
  td{
    border : 2px solid whitesmoke;
    width : 130px;
    font-size: 14px;
  }
}

.Moodboard{
  background-color: #b0bd37;
  padding:2%;
  border-radius:15px;
}

.moodboard-week-title{
  color : whitesmoke;
}