@font-face {
  font-family: "bebas_neue";
  src: url("font/bebas_neue/BebasNeue-Regular.ttf") format("truetype"),
  url("font/bebas_neue/BebasNeue-Regular.ttf") format("truetype");
}

@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

.App {
  text-align: center;

  color-cross {
    color: white;
  }
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background: linear-gradient(#83317e, #e72284);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  overflow: hidden;

  .title {
    color: white;
    font-family: bebas_neue;
    margin-top: 2em;
    margin-left: 1em;
    font-size: 5em;

    .oval {
      padding-top: 0.5em;
      padding-bottom: 0.5em;
      width: 200px;
      height: 100px;
      border: 2px solid white;
      color: #83317e;
      background: white;
      border-radius: 50%
    }
  }

  .texte-acceuil {
    color: white;
    font: 1.5em bebas_neue;
  }

  figure img{
    display:block;
  }

  .change-ratio img{
    //margin:0 0 -50% 0;
    position: absolute;
    right: 6em;
    bottom: 0;
    width: 500px;
    overflow: hidden;
  }

  .ombre-div {
    position: absolute;
    height: 3.5em;
    bottom: 8em;
    right: 12.7em;
    width: 101px;
    background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.2));
  }

  .bouton-accueil {
    position: absolute;
    z-index: 10;
    bottom: 12em;
    right: 25.5em;
    height: 120px;

    .image {
       height: 200px;
    }
  }

  .fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  @-webkit-keyframes fadeInDown {
    0% {
      opacity: 0;
      -webkit-transform: translate3d(0, -200%, 0);
      transform: translate3d(0, -200%, 0);
    }
    100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
  @keyframes fadeInDown {
    0% {
      opacity: 0;
      -webkit-transform: translate3d(0, -200%, 0);
      transform: translate3d(0, -200%, 0);
    }
    100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }

  .fadeInDownDiv {
    -webkit-animation-name: fadeInDownDiv;
    animation-name: fadeInDownDiv;
    -webkit-animation-duration: 2.5s;
    animation-duration: 2.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  @-webkit-keyframes fadeInDownDiv {
    0% {
      opacity: 0.8;
      -webkit-transform: translate3d(0, -250%, 0);
      transform: translate3d(0, -250%, 0);
    }
    50% {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
    100% {
      opacity: 0;
      -webkit-transform: none;
      transform: none;
    }
  }
  @keyframes fadeInDownDiv {
    0% {
      opacity: 0.8;
      -webkit-transform: translate3d(0, -250%, 0);
      transform: translate3d(0, -250%, 0);
    }
    50% {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
    100% {
      opacity: 0;
      -webkit-transform: none;
      transform: none;
    }
  }

  .fadeInOut {
    -webkit-animation-name: fadeInOut;
    animation-name: fadeInOut;
    -webkit-animation-duration: 2.5s;
    animation-duration: 2.5s;
    animation-delay: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  @-webkit-keyframes fadeInOut {
    0% {opacity: 0;}
    50% {opacity: 0.5;}
    100% {opacity: 0;}
  }
  @keyframes fadeInOut {
    0% {opacity: 0;}
    50% {opacity: 0.5;}
    100% {opacity: 0;}
  }

  .fadeOut {
    -webkit-animation-name: fadeInOut;
    animation-name: fadeInOut;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  @-webkit-keyframes fadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;}
  }
  @keyframes fadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;}
  }

  @media screen and (max-height: 800px) {
    .title {
      color: white;
      font-family: bebas_neue;
      margin-top: 2em;
      margin-left: 0;
      font-size: 4em;
    }

    .bouton-accueil {
      position: absolute;
      z-index: 10;
      bottom: 12em;
      right: 24em;
      height: 120px;

      .image {
        height: 200px;
      }
    }

    .ombre-div {
      position: absolute;
      height: 4.5em;
      bottom: 8.4em;
      right: 14.2em;
      width: 101px;
      background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.2));
    }
    .fadeInDownDiv {
      -webkit-animation-name: fadeInDownDiv;
      animation-name: fadeInDownDiv;
      -webkit-animation-duration: 3s;
      animation-duration: 3s;
      animation-delay: 0.1s;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
    }
    @-webkit-keyframes fadeInDownDiv {
      0% {
        opacity: 0.8;
        -webkit-transform: translate3d(0, -200%, 0);
        transform: translate3d(0, -200%, 0);
      }
      50% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
      }
      100% {
        opacity: 0;
        -webkit-transform: none;
        transform: none;
      }
    }
    @keyframes fadeInDownDiv {
      0% {
        opacity: 0.8;
        -webkit-transform: translate3d(0, -200%, 0);
        transform: translate3d(0, -200%, 0);
      }
      50% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
      }
      100% {
        opacity: 0;
        -webkit-transform: none;
        transform: none;
      }
    }
  }
}

.App-link {
  color: #09d3ac;
}

.Moodboard-table {
  border : 2px solid whitesmoke;
  border-collapse: collapse;
  color: whitesmoke;
  th{
    border : 2px solid whitesmoke;
  }
  td{
    border : 2px solid whitesmoke;
    width : 130px;
    font-size: 14px;
  }
}

.Moodboard{
  background-color: #b0bd37;
  padding:2%;
  border-radius:15px;
}

.moodboard-week-title{
  color : whitesmoke;
}